<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Filmes{% endblock %}</title>
    <link rel="stylesheet" href="">
</head>
<body>

<header>
    <h1>Sistema de Cadastro de Filmes</h1>
    <nav>
        <a href="{{url_for('inicio')}}">Início</a>
        <a href="{{url_for('cadastro')}}">Cadastro</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="#">Sair</a>
</nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2026 - Projeto Flask</p>
</footer>

</body>
</html>
