{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<h2>Criar Conta</h2>

<form action="{{url_for('comeco')}}" method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" required>

    <label>Email:</label>
    <input type="email" name="email" required>

    <label>Senha:</label>
    <input type="password" name="senha" required>

    <button type="submit">Cadastrar</button>
</form>

<p>Já tem conta? <a href="{{url_for('login')}}">Fazer login</a></p>
{% endblock %}
