{% extends 'base.html' %}

{% block title %}Descobrir{% endblock %}

{% block content %}

<section class="prateleira-livros">
    <h2 class="titulo-secao">Mais vendidos</h2>

    <div class="lista-livros">

        <div class="card-livro">
            <div class="capa-livro">
                <img src="static/img/O poder do hábito.jpg " alt="">
            </div>
            <div class="info-livro">
                <h3>O Poder do Hábito</h3>
                <p class="autor">Charles Duhigg</p>
                <p class="preco">R$ 49,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro">
                <img src="static/img/corte de espinhos.jpg" alt="">
            </div>
            <div class="info-livro">
                <h3>Corte de Espinhos e Rosas</h3>
                <p class="autor">Sarah J. Maas</p>
                <p class="preco">R$ 54,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro">
                <img src="static/img/O senhor.jpg" alt="">
            </div>
            <div class="info-livro">
                <h3>O Senhor dos Anéis</h3>
                <p class="autor">J.R.R. Tolkien</p>
                <p class="preco">R$ 89,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro">
                <img src="static/img/Habitos atômicos.jpg" alt="">
            </div>
            <div class="info-livro">
                <h3>Hábitos Atômicos</h3>
                <p class="autor">James Clear</p>
                <p class="preco">R$ 45,00</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro">
                <img src="static/img/Tecno.jpg" alt="">
            </div>
            <div class="info-livro">
                <h3>Tecnofeudalismo</h3>
                <p class="autor">Yanis Varoufakis</p>
                <p class="preco">R$ 53,86</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro">
                <img src="static/img/é assim.jpg" alt="">
            </div>
            <div class="info-livro">
                <h3>É Assim que Acaba</h3>
                <p class="autor">Colleen Hoover</p>
                <p class="preco">R$ 39,87</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro">
                <img src="static/img/A hipótese do amor.jpg" alt="">
            </div>
            <div class="info-livro">
                <h3>A Hipótese do Amor</h3>
                <p class="autor">Ali Hazelwood</p>
                <p class="preco">R$ 46,26</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

    </div>
</section>

<section class="prateleira-livros">
    <h2 class="titulo-secao">Romance</h2>

    <div class="lista-livros">

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/orgulho.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Orgulho e Preconceito</h3>
                <p class="autor">Jane Austen</p>
                <p class="preco">R$ 39,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/é assim.jpg" alt=""></div>
            <div class="info-livro">
                <h3>É assim que acaba</h3>
                <p class="autor">Colleen Hoover</p>
                <p class="preco">R$ 36,42</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/corte de espinhos.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Corte de espinhos</h3>
                <p class="autor">Sarah J. Maas</p>
                <p class="preco">R$ 87,77</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/para todos.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Para Todos os Garotos que Já Amei</h3>
                <p class="autor">Jenny Han</p>
                <p class="preco">R$ 38,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/um dia.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Um Dia</h3>
                <p class="autor">David Nicholls</p>
                <p class="preco">R$ 41,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/2.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Amor & Gelato</h3>
                <p class="autor">Jenna Evans Welch</p>
                <p class="preco">R$ 36,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/3.jpg" alt=""></div>
            <div class="info-livro">
                <h3>É Assim que Começa</h3>
                <p class="autor">Colleen Hoover</p>
                <p class="preco">R$ 45,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

    </div>
</section>

<section class="prateleira-livros">
    <h2 class="titulo-secao">Suspense</h2>

    <div class="lista-livros">

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/4.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Verity</h3>
                <p class="autor">Colleen Hoover</p>
                <p class="preco">R$ 44,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/5.jpg" alt=""></div>
            <div class="info-livro">
                <h3>A Paciente Silenciosa</h3>
                <p class="autor">Alex Michaelides</p>
                <p class="preco">R$ 48,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/6.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Garota Exemplar</h3>
                <p class="autor">Gillian Flynn</p>
                <p class="preco">R$ 49,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/7.jpg" alt=""></div>
            <div class="info-livro">
                <h3>O Homem de Giz</h3>
                <p class="autor">C. J. Tudor</p>
                <p class="preco">R$ 39,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/8.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Antes de Dormir</h3>
                <p class="autor">S. J. Watson</p>
                <p class="preco">R$ 42,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/9.jpg" alt=""></div>
            <div class="info-livro">
                <h3>O Silêncio dos Inocentes</h3>
                <p class="autor">Thomas Harris</p>
                <p class="preco">R$ 52,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/10.jpg" alt=""></div>
            <div class="info-livro">
                <h3>O Iluminado</h3>
                <p class="autor">Stephen King</p>
                <p class="preco">R$ 55,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

    </div>
</section>

<section class="prateleira-livros">
    <h2 class="titulo-secao">Aventura</h2>

    <div class="lista-livros">

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/Harry.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Harry Potter e a Pedra Filosofal</h3>
                <p class="autor">J. K. Rowling</p>
                <p class="preco">R$ 49,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/11.jpg" alt=""></div>
            <div class="info-livro">
                <h3>O Hobbit</h3>
                <p class="autor">J. R. R. Tolkien</p>
                <p class="preco">R$ 44,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/12.jpg" alt=""></div>
            <div class="info-livro">
                <h3>As Crônicas de Nárnia</h3>
                <p class="autor">C. S. Lewis</p>
                <p class="preco">R$ 46,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/percy.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Percy Jackson e o Ladrão de Raios</h3>
                <p class="autor">Rick Riordan</p>
                <p class="preco">R$ 41,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/13.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Duna</h3>
                <p class="autor">Frank Herbert</p>
                <p class="preco">R$ 59,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/jogos.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Jogos Vorazes</h3>
                <p class="autor">Suzanne Collins</p>
                <p class="preco">R$ 47,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

        <div class="card-livro">
            <div class="capa-livro"><img src="static/img/14.jpg" alt=""></div>
            <div class="info-livro">
                <h3>Viagem ao Centro da Terra</h3>
                <p class="autor">Júlio Verne</p>
                <p class="preco">R$ 38,90</p>
                <button class="btn-principal">Comprar</button>
            </div>
        </div>

    </div>
</section>

{% endblock %}