{% extends 'base.html' %}

{% block title %}Início{% endblock %}

{% block content %}
<h2>Bem-vindo!</h2>

<section>
    <h3>Cadastrar Filme</h3>

<form action="{{url_for('comeco')}}" method="POST">
        <label>Título:</label>
        <input type="text" name="titulo" required>

        <label>Gênero:</label>
        <input type="text" name="genero" required>

        <label>Ano:</label>
        <input type="number" name="ano" required>

        <button type="submit">Adicionar</button>
    </form>
</section>

<section>
    <h3>Lista de Filmes</h3>

    <ul>
        {% for filme in filmes %}
            <li>
                <strong>{{ filme.titulo }}</strong> - 
                {{ filme.genero }} ({{ filme.ano }})
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
