{% extends "base.html" %}

{% block content %}

<div class="container-vitrine">

    <h1 class="titulo-secao">Carrinho</h1>

    <div class="lista-livros">

        {% for livro in session['carrinho'] %}
        <div class="card-livro">
            <div class="info-livro">
                <h3>{{ livro }}</h3>
                <p class="preco">No carrinho</p>
            </div>
        </div>
        {% endfor %}

    </div>

    <a href="/finalizar_compra" class="btn-principal">
        Finalizar Compra
    </a>

</div>

{% endblock %}