{% extends "base.html" %}

{% block content %}

<div class="container-vitrine">

    <div class="banner-promocional">
        <div class="banner-conteudo">
            <span class="tag-fundo">NOVOS LIVROS</span>
            <h2>Explore novos mundos</h2>
            <p>Descubra livros incríveis adicionados recentemente.</p>
            <a href="/descobrir" class="btn-principal btn-banner">Descobrir</a>
        </div>
    </div>

    <div class="prateleira-livros">
        <h2 class="titulo-secao">Livros em Destaque</h2>

        <div class="lista-livros">

            <div class="card-livro">
                <div class="capa-livro">
                    <img src="static/img/harry.jpg">
                </div>

                <div class="info-livro">
                    <h3>Harry Potter e a Pedra Filosofal</h3>
                    <p class="autor">J.K Rowling</p>
                    <span class="categoria-livro">Fantasia</span>
                    <p class="preco">R$ 39,90</p>

                    <div class="acoes-livro">
                        <a href="/add_carrinho/Harry Potter" class="btn-principal">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="card-livro">
                <div class="capa-livro">
                    <img src="static/img/attack.jpg">
                </div>

                <div class="info-livro">
                    <h3>Attack on Titan</h3>
                    <p class="autor">Hajime Isayama</p>
                    <span class="categoria-livro">Mangás</span>
                    <p class="preco">R$ 29,90</p>

                    <div class="acoes-livro">
                        <a href="/add_carrinho/Attack on Titan" class="btn-principal">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="card-livro">
                <div class="capa-livro">
                    <img src="static/img/O senhor.jpg">
                </div>

                <div class="info-livro">
                    <h3>O Senhor dos Anéis</h3>
                    <p class="autor">J.R.R Tolkien</p>
                    <span class="categoria-livro">Fantasia</span>
                    <p class="preco">R$ 59,90</p>

                    <div class="acoes-livro">
                        <a href="/add_carrinho/O Senhor dos Anéis" class="btn-principal">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="card-livro">
                <div class="capa-livro">
                    <img src="static/img/é assim.jpg">
                </div>

                <div class="info-livro">
                    <h3>É Assim Que Acaba</h3>
                    <p class="autor">Colleen Hoover</p>
                    <span class="categoria-livro">Romance</span>
                    <p class="preco">R$ 34,90</p>

                    <div class="acoes-livro">
                        <a href="/add_carrinho/É Assim Que Acaba" class="btn-principal">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="card-livro">
                <div class="capa-livro">
                    <img src="static/img/dracula.jpg">
                </div>

                <div class="info-livro">
                    <h3>Drácula</h3>
                    <p class="autor">Bram Stoker</p>
                    <span class="categoria-livro">Terror</span>
                    <p class="preco">R$ 27,90</p>

                    <div class="acoes-livro">
                        <a href="/add_carrinho/Drácula" class="btn-principal">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="card-livro">
                <div class="capa-livro">
                    <img src="static/img/percy.jpg">
                </div>

                <div class="info-livro">
                    <h3>Percy Jackson</h3>
                    <p class="autor">Rick Riordan</p>
                    <span class="categoria-livro">Ação</span>
                    <p class="preco">R$ 32,90</p>

                    <div class="acoes-livro">
                        <a href="/add_carrinho/Percy Jackson" class="btn-principal">Comprar</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}