{% extends 'base.html' %}

{% block title %}Meus Livros - Minha Estante{% endblock %}

{% block content %}
<div class="container-vitrine">
    
    <section class="prateleira-livros">
        <h2 class="titulo-secao">📚 Minha Estante</h2>
        
        <div class="lista-livros">
            {% if livros %}
                {% for livro in livros %}
                <div class="card-livro">
                    <div class="capa-livro">
                        <img src="static/img/sem-capa.png" alt="Capa do Livro">
                    </div>
                    <div class="info-livro">
                        <h3>{{ livro['titulo'] }}</h3>
                        <p class="autor">Livro adquirido</p>
                        <button class="btn-principal" onclick="alert('Obrigado por Ler')">LER</button>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p style="color: #a5a5a5; text-align: center; grid-column: 1 / -1; margin-top: 20px;">
                    Você ainda não comprou nenhum livro.
                </p>
            {% endif %}
        </div>
    </section>

</div>
{% endblock %}
